<!-- app/views/quiz/index.html.erb -->
<h1>Quiz</h1>

<%= form_tag(submit_path) do %>
<!-- <label>Name:</label>-->
<!-- <%= text_field_tag :name %> -->

  <% @questions.each do |question| %>
    <h2><%= question.content %></h2>

    <% question.answers.each do |answer| %>
      <p>
        <%= radio_button_tag "question_#{question.id}", answer.id %>
        <%= answer.content %>
      </p>
    <% end %>
    <!-- <%= link_to "Flag This Question", home_flag_path %> -->
  <% end %>

<% end %>
<%= submit_tag "Submit" %>


<!-- app/views/quiz/result.html.erb -->
<h1>Quiz Result</h1>

<% if @user %>
  <p>Hi <%= @user.email %>!</p>
  <p>You have answered <%= @user.score %> questions correctly.</p>
  <%= link_to "Back to Quiz", root_path %>
<% else %>
  <p>No user found.</p>
  <%= link_to "Check Score", result_path %>
<% end %>





<h1>Quiz</h1>

<%= form_tag(submit_path) do %>
  <!--<% @questions.each_with_index do |question, index| %> -->
    <% if index == 0 %>
      <h2><%= question.content %></h2>
    <% end %>

    <p>
      <%= radio_button_tag "question_#{question.id}", question.answers.first.id %>
      <%= question.answers.first.content %>
    </p>

    <% question.answers[1..].each do |answer| %>
      <p>
        <%= radio_button_tag "question_#{question.id}", answer.id %>
        <%= answer.content %>
      </p>
    <% end %>
  <!--<% end %>-->

  <%= submit_tag "Submit" %>
<% end %>
