<h1>Quiz</h1>
<%= form_tag(submit_path) do %>
  <% @questions.each do |question| %>
    <h2><%= question.content %></h2>
    <br></br>

    <% question.answers.each do |answer| %>
      <p>
        <%= radio_button_tag "question_#{question.id}", answer.id %>
        <%= answer.content %>
        <br></br>
      </p>
    <% end %>
    <br></br>
  <% end %>

  <%= submit_tag "Submit" %>
<% end %>
